body{
  background-color: #DFD5EC;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form {
  border: 1px solid black;
  width: 450px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addTask,
.editTask {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addTask label {
  font-weight: bold;
  margin-bottom: 5px;
}

.addTask input[type="text"],
.addTask input[type="date"] {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.addTask button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addTask button:hover {
  background-color: #45a049;
}

.editTask {
  /*margin-top: 10px;*/
  /*padding-top: 10px;*/
}

.editTask label {
  font-weight: bold;
  margin-bottom: 5px;
}

.editTask input[type="text"],
.editTask input[type="date"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.editTask button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.editTask button:hover {
  background-color: #45a049;
}

.taskItem {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

.taskName{
     width: 30%;
}

.taskDate{
}

.taskItem-button{
}

.taskItem-button button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.taskItem-button button:hover {
  background-color: #ff7875;
}

ul {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 200px;
}
